# Week 3: SQL 

## SQL-99
* SQL = Structured Query Language 
* language for DBMS
* Based on relational algebra 

### DDL 
* CREATE TABLE, DROP TABLE

### DML 
* SELECT: WHERE, GOURP BY,ORDER BY, HAVING 
* INSERT,DELETE, UPDATE, ALTER, ...

Keywords can refer to https://www.postgresql.org/docs/current/sql-keywordsappendix.html .

## Data Type 
* Numeric & String & Date
* The NULL value is a member of all data type, any value compare with NULL will be NULL


### String operators
* string||string --concatenate 
* LENGTH(string)
* SUBSTR(string,start,length)
* str LIKE pattern -- match string to pattern

> * _ matches any single char
> * % matches zero or more char

### SQL Dates
* Format -- DD-MM--YYYY

### Convert data types

### Tuple and Set --(val1, val2, val3)

## From Relation Algebra to SQL ---FOR REVISION
*

## DISTINCT -- remove duplicate

## DML
* Insert
* Delete
* Update

## SQL Views
Tables are base relations.

Views are ***virtual relations*** in SQL.

Views are derived from base relations and does not take up space in the DBMS. Base relations are physically stored in the DBMS

* View are difined via:
``` CREATE VIEW View__name AS Queru ```
* Views may be removed via:
``` DROP VIEW View_name```

> Views will update itself whenever the base relation it depends changes

## Schema Change in SQL 

### Add New Column
``` ALTER TABLE Bars```

``` ADD phone char(10) DEFAULT 'Unlisted'```

### Modify Column
``` ALTER TABLE Persons DROP PRIMARY KEY;```

OR

``` ALTER TABLE Persons ADD PRIMARY KEY (ID);```

## Create Index

```CREATE INDEX index_name```

```ON table_name(column1, column2,...)```